<table>
    <tr>
        <p>Composant impacté : AMPLITUDE Date Réclamation : 13/01/2022 Domaine : TFJ /COMPTA
        </p>
    </tr>
    <tr>
        <p>
            Constats : Lors du TFJ du 13/01/2022, le tfjo est interrompu au niveau programme CENTRALIS : Un message d’erreur : « Montant négatif non autorise CC620098878 7225130010 -72,93 00010 ». Détail investigations : Problème de donnée dans la table bkmvti Cause
            de l’Incident : Données intégrés avec des champs qui ne respecte pas la structure de la table bkmvti, champs vide et montant avec des signes (-) . Conséquences de l’incident : Programme bloqué pour 80 minutes de 22H:28 jusqu’à 23H:40 Durée
            de l’incident : 80 minutes

        </p>
    </tr>
</table>