<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a *ngIf=" ! isloggedIn() &&  isHomeRoute" class="navbar-brand" routerLink="app-login">Home</a>
        <!-- <a  class="navbar-brand" routerLink="users" routerLinkActive="active" class="nav-link"> Users List </a> -->


        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
            
        <i class="fas fa-bars"></i>
      </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse>
            <!-- Left links -->
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a
            >
          </li>
        </ul> -->

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a *ngIf="isloggedIn() && getRoleAdmin()" routerLink="users" routerLinkActive="active" class="nav-link"> Users List </a>
                </li>

                <li class="nav-item">
                    <a *ngIf="isloggedIn() && getRoleAdmin()" routerLink="createNewUser" routerLinkActive="active" class="nav-link"> New User </a>
                </li>
                <li class="nav-item">
                    <a *ngIf="isloggedIn() && ! getRoleAdmin()" routerLink="ListOfFichesInterventions" routerLinkActive="active" class="nav-link"> List réclamations  </a>
                </li>
                <li class="nav-item">
                    <a *ngIf="isloggedIn() && ! getRoleAdmin() " routerLink="addFicheIntervention" routerLinkActive="active" class="nav-link"> créer réclamation</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="isloggedIn() && getRoleAdmin()" routerLink="ldfj" routerLinkActive="active" class="nav-link"> LDTFJ </a>
                </li>
                <li class="nav-item">
                    <a *ngIf="isloggedIn() && getRoleUser()" routerLink="ldfj" routerLinkActive="active" class="nav-link"> LDTFJ </a>
                </li>

                <li class="nav-item">
                    <a *ngIf="isloggedIn() && getRoleAdmin()" routerLink="LTFJ" routerLinkActive="active" class="nav-link"> LDTFJ </a>
                </li>

                <li class="nav-item">
                    <a *ngIf="isloggedIn() && getRoleAdmin()" routerLink="DetailTFJ" routerLinkActive="active" class="nav-link"> Detail TFJ </a>
                </li>
            </ul>
            <!-- Left links -->

            <!-- Search form -->
            <!-- <form class="d-flex input-group w-auto">
                <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
                <button class="btn btn-outline-primary" type="button">
            Search
          </button>

            </form> -->
            <div>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <ul class="nav navbar-nav navbar-right">
                    <input *ngIf="! isloggedIn() " type="submit" class="btn btn-success btn-block" value="Login">
                    <input *ngIf="isloggedIn()" type="submit" class="btn btn-danger btn-block" value="logout" (click)="logout() " routerLin="app-login">

                    <!-- <li><a href="http://localhost:4200/app-login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
                </ul>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->