<cdk-accordion class="example-accordion">
    <cdk-accordion-item *ngFor="let ficheIntervention of ficheInterventions; let index = index;" #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            <h4> Fiche Intervention N </h4>{{ ficheIntervention.id }}
            <span class="example-accordion-item-description">
         {{ accordionItem.expanded ? 'close' : 'mor' }}
      </span>
        </div>
        <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
            <span><h3>PROG</h3></span>
            <p>{{ficheIntervention.prog}}</p>
            <span><h4>Constats</h4></span>
            <p>{{ficheIntervention.constats}}</p>
            <span><h4>actionsRealisees</h4></span>
            <p>{{ficheIntervention.actionsRealisees }}</p>
            <span><h4>detailInvestigations</h4></span>
            <p>{{ficheIntervention.constats}}</p>
            <span> <h4>causeIncident</h4></span>
            <p>{{ficheIntervention.causeIncident}}</p>
            <span> <h4> consequencesIncident</h4></span>
            <p>{{ficheIntervention.consequencesIncident}}</p>
            <span> <h4>dureeIncident</h4></span>
            <p>{{ficheIntervention.dureeIncident}}</p>
            <span> <h4>statutResolution</h4></span>
            <p>{{ficheIntervention.statutResolution}}</p>
            <button (click)="updateFicheIntervention(ficheIntervention.id) " class="btn btn-info ">Update</button>

        </div>
    </cdk-accordion-item>
</cdk-accordion>